@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

body {
  background: white url('./img/bg3.jpg') no-repeat center center/cover;
  /* background: linear-gradient(90deg, black 38.3%, rgba(0, 0, 0, 0) 38.3%), url('./img/owl.png') no-repeat; */
  /* background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('./img/owl.png'); */
  color: #fff;
  font-family: 'Aldrich';
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.button{
  font-family: 'Aldrich';
  color:#C4C4C4
}

.sign-out{
  position: absolute;
  width: 146px;
  height: 38px;
  right: 4%;
  top: 27px;
}

.home{
  position: absolute;
  width: 146px;
  height: 38px;
  left: 39%;
  top: 27px;
}

.list{
  position: absolute;
  width: 146px;
  height: 38px;
  left: 51%;
  top: 27px;
}

label {
  position: absolute;
  text-align: right;
  /* width: px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  /* height: 36px; */
  /* margin-bottom: 100px; */
}


/*  */
.cat1 {
  width: 350px;
  flex: 0 0 200px;
  left: 0px;
  top: 190px;
}

.cat2 {
  width: 350px;
  flex: 0 0 200px;
  left: 0px;
  top: 253px;
}

.cat3{
  width: 350px;
  flex: 0 0 200px;
  left: 0px;
  top: 316px;
}

select {
  /* height: 20px; */
  width: 200px;
  /* flex: 0 0 200px; */
  margin-left: 30px;
}

.submit{
  position: absolute;
  width: 144px;
  height: 39px;
  left: 173px;
  top: 454px;
  font-family: 'Aldrich';
}
/* .container{
  background: black;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: auto;
  height: 1024;
  width: 522;
  position: relative;
  transform: scale(1);
} */
