@import url(https://fonts.googleapis.com/css2?family=Aldrich&display=swap%22);

body {
  background: white url('./img/background1.png') no-repeat center center/cover;
  /* background: linear-gradient(90deg, black 38.3%, rgba(0, 0, 0, 0) 38.3%), url('./img/owl.png') no-repeat; */
  /* background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('./img/owl.png'); */
  color: #fff;
  font-family: 'Aldrich';
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.button{
  font-family: 'Aldrich';
  color:#C4C4C4
}

.sign-out{
  position: absolute;
  width: 146px;
  height: 38px;
  right: 4%;
  top: 27px;
}

.home{
  position: absolute;
  width: 146px;
  height: 38px;
  left: 768px;
  top: 28px;
}

.list{
  position: absolute;
  width: 146px;
  height: 38px;
  left: 587px;
  top: 28px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 700px;
  position: relative;
  transform: scale(1);
}

.enterUserName{
  font-family: 'Aldrich';

  width: 400px;
  height: 60px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enterPassword{
  font-family: 'Aldrich';

  width: 400px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-in{
  position: absolute;
  width: 138px;
  height: 46px;
  top: 80%;
  left: 50%;
  background: #5c93ff;
  transform: translate(-50%, -50%);
}

.image{
  height: 25%;
  width: 10%;
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
}





/* .container{
  background: black;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: auto;
  height: 1024;
  width: 522;
  position: relative;
  transform: scale(1);
} */
