@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

body {
    /* height: 100%; */
    margin: 0;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }

.body2 {
  background: black url('./img/bg3.jpg') no-repeat center;
  
  /* left: 0px;
  top: 0px; */
 
  color: #fff;
  font-family: 'Aldrich';
  /* min-height: 100vh; */
  /* display: flex;
  margin: 0;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  min-height: 100vh;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;


}

.button{
  font-family: 'Aldrich';
  color:#C4C4C4;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s; 
}

.button2:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.sign-out{
  position: absolute;
  width: 146px;
  height: 38px;
  right: 4%;
  top: 27px;
}

.home{
  position: absolute;
  width: 10.1%;
  height: 38px;
  left: 39%;
  top: 27px;
}

.list{
  position: absolute;
  width: 146px;
  height: 38px;
  left: 51%;
  top: 27px;
}

label {
  position: absolute;
  text-align: right;
  /* width: px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  /* height: 36px; */
  /* margin-bottom: 100px; */
}

.rectangle {
  display: flex;
  background: black;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 522px;
  height: 100%;
  left: 0px;
  top: 0px;
}

/*  */
.cat1 {
  width: 350px;
  flex: 0 0 200px;
  left: 0px;
  top: 190px;
}

.cat2 {
  width: 350px;
  flex: 0 0 200px;
  left: 0px;
  top: 253px;
}

.cat3{
  width: 350px;
  flex: 0 0 200px;
  left: 0px;
  top: 316px;
}

select {
  /* height: 20px; */
  width: 200px;
  /* flex: 0 0 200px; */
  margin-left: 30px;
}

.submit{
  position: absolute;
  width: 144px;
  height: 39px;
  left: 173px;
  top: 454px;
  font-family: 'Aldrich';
  align-content: center;
}

.btn {
  /* display:block; */
  position: absolute;
  width: 18px;
  height: 18px;
  left: 476px;
  top: 187px;
  /* background: transparent; */
  /* border-radius: 50%; */
  
}

.disclaimer{
  position: absolute;
  font-family: 'Aldrich';
  /* padding: 0px; */
  /* width: 144px;
  height: 39px; */
  left: 10px;
  top: 510px;
  text-align: center;

}

header {
  position: absolute;
  /* left: 173px;*/
  top: 100px;
  font-family: Aldrich;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  /* identical to box height */


  color: #FFFFFF;
}

.answerButton{
  position: absolute;
  width: 144px;
  height: 39px;
  left: 173px;
  top: 554px;
  font-family: 'Aldrich';
  align-content: center;
}

.answer2 {
  display: flex;
  background: blue;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 300px;
  height: 100%;
  left: 522px;
  top: 0px;
}